
.signupContainer {
  #backgroundImage{
    position: fixed;
    opacity: .5;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1; 
  }

  .signupBox {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;

    .signupBoxContainer {
      position: absolute;
      background-color: rgb(74, 74, 95);
      height: fit-content;
      width: fit-content; /*same as width of login box*/
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 25px;

      h1 {
        margin-left: 10px;
        margin-right: 10px;
      }

      #firstNameDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #lastNameDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #emailDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #passwordDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #repasswordDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #signup {
        border-color: #45A29E;
        display: block;
        background-color: #1F2833;
        text-align: center;
        margin: 20px auto;
        width: 75px;
        height: 30px;
        border-radius: 15px;
      }
      
      h1 {
        text-align: center;
        color:#45A29E;
      }
    }
  }

  /*TODO: even smaller media query*/
  @media screen and (max-width: 600px){
    .signupBox {
      background-color: rgb(74, 74, 95);
      height: calc(100vh - 70px);
      width: 100vw;

      .signupBoxContainer {
        width: 100vw;
        height: fit-content;
        border-radius: 0;

        h1 {
          font-size: 25px;
          margin: 0;
        }

        #firstNameDiv {
          margin-left: auto;
          margin-right: auto;
        }

        #lastNameDiv {
          margin-left: auto;
          margin-right: auto;
        }

        #emailDiv {
          margin-left: auto;
          margin-right: auto;
        }

        #passwordDiv {
          margin-left: auto;
          margin-right: auto;
        }

        #repasswordDiv {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }  
  }
}