
:root {
  --primary-color: #1F2833;
  --secondary-color: #0B0C10;
  --tertiary-color: #45A29E;
}


body {
  margin: 0px;
}

.page {
  height: 100%;
  padding-top: 70px;
  background-color: #1F2833;
}

.userInfoContainer {
  height: fit-content;
  width: 100vw;

  #updateUserInfoContainer {
    background-color: #45505e;
    height: 500px;
    width: 90vw;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

