/*TODO: make primery colors of app variables*/
/*break up the file*/


/* full App CSS */
body {
  margin: 0px;
}


/* User Navbar component CSS */
.usernavbar {
  position: fixed;
  background-color: #0B0C10;
  width: 100vw;
  height: 70px;
  z-index: 10;

  #links {
    margin-top: 25px;
    float: right;
    display: block;
  }

  a.icon {
    display: none;
    position: absolute;
    height: fit-content;
    font-size: 30px;
    right: 15px;
    top: 20px;
  }

  #title {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
  }
  
  a {
    text-decoration: none;
    color: #45A29E;
  }

  #links a {
    float: left;
    margin-right: 25px;
  }

  a:hover{
    color: rgb(55, 55, 212);
  }

  a.icon:hover {
    background-color: #ddd;
    color: black;
  }

  @media screen and (max-width: 500px) {
    #title {
      font-size: 20px;
      margin-top: 23px;
    }

    a:hover { 
      background-color: #ddd;
      color: black;
    }

    a.icon {
      display: block;
    }

    a.icon:hover {
      cursor: pointer;
    }

    /*TODO: get links in reverse order, flexbox display not working?, close menu onclick */
    #links {
      background-color: #2e3241;
      display: none;
      flex-direction: column;
      margin-top: 70px;
      height: 50vh;
      width: 50vw;
      border-radius: 25px;
    }

    #links a {
      background-color: rgb(40, 40, 56);
      margin-right: 1vw;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 48vw;
      font-size: 25px;
      text-align: center;
      padding-top: 5px; 
      padding-bottom: 5px;
      border-radius: 25px;
    }
  }

  @media screen and (max-width: 280px) {
    #title {
      font-size: 15px;
      margin-top: 27.5px;
    }

    #links {
      width: 35vw;
    }

    #links a {
      width: 33vw;
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}


/* General Navbar component CSS */
/* TODO: menu pops up on resize*/
.navbar {
  position: fixed;
  background-color: #0B0C10;
  width: 100vw;
  height: 70px;
  z-index: 10;

  #links {
    margin-top: 25px;
    margin-right: 10px;
    float: right;
    display: block;
  }

  a.icon {
    display: none;
    position: absolute;
    height: fit-content;
    font-size: 30px;
    right: 15px;
    top: 20px;
  }

  #title {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
  }
  
  a {
    text-decoration: none;
    color: #45A29E;
  }

  #links a {
    float: left;
    margin-right: 15px;
  }

  a:hover{
    color: rgb(55, 55, 212);
  }

  a.icon:hover {
    background-color: #ddd;
    color: black;
  }

  @media screen and (max-width: 500px) {
    #title {
      font-size: 20px;
      margin-top: 23px;
    }

    a:hover { 
      background-color: #ddd;
      color: black;
    }

    a.icon {
      display: block;
    }

    a.icon:hover {
      cursor: pointer;
    }

    #links {
      background-color: #2e3241;
      display: none;
      height: fit-content;
      width: 50vw;
      margin-top: 70px;
      border-radius: 25px;
    }

    #links a {
      background-color: rgb(40, 40, 56);
      margin: 5px 1vw;
      width: 48vw;
      font-size: 25px;
      text-align: center;
      padding-top: 5px; 
      padding-bottom: 5px;
      border-radius: 25px;
    }
  }

   @media screen and (max-width: 280px) {
    #title {
      font-size: 15px;
      margin-top: 27.5px;
    }

    #links {
      width: 35vw;
    }

    #links a {
      width: 33vw;
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.page {
  padding-top: 70px;
  height: calc(100vh - 70px);
}


/* Homepage CSS */
.homeContainer {
  height: fit-content;

  .intro {
    max-width: 100vw;
    height: fit-content;
    display: flex;

    .appDesc {
      height: 500px;
      flex: 50%;
    }

    .appDesc h1 {
      color:#45A29E;
      margin-top: 0;
      padding-top: 80px;
      text-align: center;
    }

    .appDesc p {
      margin-top: 75px;
      font-size: 20px;
      text-align: center;
    }

    .introImage {
      position: relative;
      flex: 50%;
      max-height: 500px;
    }

    .introImage #image-loop-1 {
      position: relative;
      margin-top: 25px;
      margin-left: 1vw;
      width: 48vw;
      height: 450px;
      border-radius: 25px;
    }
  }

  @media screen and (max-width: 500px) {

    .intro {
      flex-direction: column;

      .appDesc h1 {
        font-size: 20px;
        padding-top: 10px;
        padding-left: 5vw;  
        padding-right: 5vw;
      }

      .appDesc p {
        margin-top: 0;
        font-size: 15px;
        padding-left: 5vw;  
        padding-right: 5vw;
      }

      .introImage #image-loop-1 {
        margin-left: 5vw;
        margin-bottom: 25px;
        width: 90vw;
        height: 250px;
      }
    }
  }

  .tutorial {
    max-width: 100vw;
    height: fit-content;
    display: flex;
    
    .tutorialText {
      text-align: center;
      padding-left: 5vw;
      padding-right: 5vw;
      flex: 50%;

      h1 {  
        color:#45A29E;
      }

      p {
        margin-top: 75px;
        font-size: 20px;
      }
    }

    .tutorialImageDiv {
      position: relative;
      height: fit-content;
      flex: 50%;
      text-align: center;
      border-radius: 10px;
      padding-bottom: 0;
    }

    .tutorialImageDiv #tutorialImage {
      position: relative;
      max-height: 450px;
      max-width: 500px;
      margin-top: 25px;
      margin-left: 1vw;
      padding-right: 1vw;
      padding-bottom: 0;
      width: 48vw;
      border-radius: 10px;
    }

    /*TODO: put arrows on top of image*/
    #tutorialImageArrows {
      display: flex;
      justify-content: center;
      
      #tutorialImagesLeftArrow {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #364250;
        width: 25px;
        height: 25px;
        margin-top: 5px;
        border-radius: 25px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE 10 and IE 11 */
        user-select: none;
      }

      #tutorialImagesRightArrow {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #364250;
        width: 25px;
        height: 25px;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 25px;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* IE 10 and IE 11 */
        user-select: none;
      }

      #tutorialImagesLeftArrow:hover {
        background-color: #5f6e7e;
        cursor: pointer;
      }

      #tutorialImagesRightArrow:hover {
        background-color: #5f6e7e;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .tutorial {
      flex-direction: column;

      .tutorialText h1 {
        font-size: 20px;
        padding-top: 10px;
        padding-left: 5vw;  
        padding-right: 5vw;
      }

      .tutorialText p {
        font-size: 15px;
        margin-top: 0;
        padding-left: 5vw;  
        padding-right: 5vw;
      }

      .tutorialImageDiv #tutorialImage {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 25px;
        width: 90vw;
        height: 250px;
      }
    }
  }

  .homeCalendarContainer {
    height: fit-content;
    display: flex;
    width: 100vw;

    .calendarContainer {
      height: 350px;
      width: 55vw;
      margin-bottom: 20px;
      margin-top: 20px;

      .calendarDays {
        height: 25px;
      }
    }

    #homeCalendarDesc {
      display: inline-block;
      width: 45vw;
      height: 350px;

      h1 { 
        text-align: center;
        color:#45A29E;
      }

      p {
        text-align: center;
        font-size: 20px;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .homeCalendarContainer {
      height: fit-content;
      display: block;
      width: 100vw;

      .calendarContainer {
        height: 350px;
        width: 98vw;

        .calendarDays {
          height: 25px;
        }
      }

      #homeCalendarDesc {
        display: inline-block;
        width: 98vw;
        height: 350px;

        h1 { 
          text-align: center;
          color:#45A29E;
        }

        p {
          text-align: center;
          font-size: 20px;
        }
      }
    }
  }

  #footer {
    width: 100vw;
    height: 100px;
  }
}


/* Loginpage CSS */
/* TODO: could be better*/
.loginContainer {
  height: 100%;

  #backgroundImage{
    display: block;
    opacity: .5;
    height: 100%;
    width: 100vw;
  }

  .loginBox {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;

    #loginCredentialsContainer {
      position: absolute;
      background-color: rgb(74, 74, 95);
      height: fit-content;
      width: fit-content; /*same as width of login box*/
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 25px;

      h1{
        text-align: center;
        color:#45A29E;
      }

      #email {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 25px;
      }

      #password{
        width: fit-content;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 25px;
      }

      #login{
        display: block;
        background-color: #1F2833;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 150px;
        height: 30px;
        max-width: 150px;
        border-radius: 15px;
        border-color: #45A29E;
      }

      #forgotPassword {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 30px;

      }
    }
  }

  /*TODO: even smaller media query*/
  @media screen and (max-width: 500px){
    .loginBox {
      background-color: rgb(74, 74, 95);
      height: calc(100vh - 70px);
      width: 100vw;

      #loginCredentialsContainer {
        width: 100vw;
        height: fit-content;
        border-radius: 0;

        #email {
          margin-left: auto;
          margin-right: auto;
        }

        #password {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }  
  }
}


/* Signuppage CSS */
.signupContainer {
  height: 100%;

  #backgroundImage{
    display: block;
    opacity: .5;
    height: 100%;
    width: 100vw;
  }

  .signupBox {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;

    .signupBoxContainer {
      position: absolute;
      background-color: rgb(74, 74, 95);
      height: fit-content;
      width: fit-content; /*same as width of login box*/
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 25px;

      h1 {
        margin-left: 10px;
        margin-right: 10px;
      }

      #firstNameDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #lastNameDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #emailDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #passwordDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #repasswordDiv {
        width: fit-content;
        left: 0;
        right: 0;
        margin: 15px auto;
      }

      #signup {
        border-color: #45A29E;
        display: block;
        background-color: #1F2833;
        text-align: center;
        margin: 20px auto;
        width: 75px;
        height: 30px;
        border-radius: 15px;
      }
      
      h1 {
        text-align: center;
        color:#45A29E;
      }
    }
  }

  /*TODO: even smaller media query*/
  @media screen and (max-width: 600px){
    .signupBox {
      background-color: rgb(74, 74, 95);
      height: calc(100vh - 70px);
      width: 100vw;

      .signupBoxContainer {
        width: 100vw;
        height: fit-content;
        border-radius: 0;

        h1 {
          font-size: 25px;
          margin: 0;
        }

        #firstNameDiv {
          margin-left: auto;
          margin-right: auto;
        }

        #lastNameDiv {
          margin-left: auto;
          margin-right: auto;
        }

        #emailDiv {
          margin-left: auto;
          margin-right: auto;
        }

        #passwordDiv {
          margin-left: auto;
          margin-right: auto;
        }

        #repasswordDiv {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }  
  }
}


/* Calendarpage CSS */
/*TODO: navbar on calendarpage moves up alittle*/
.calendarPageContainer {
  width: fit-content;
  height: fit-content;

  
  #month {
    color: orange;
    position: relative;
    width:  30vw;
    height: 30px;
    margin-top: 15px;
    margin-left: 35vw;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
    color: #45A29E;
  }

  @media screen and (max-width: 640px) {
    #month {
      height: 22px;
      font-size: 22px;
    }
  }

  @media screen and (max-width: 500px) {
    #month {
      height: 14px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 300px) {
    #month {
      height: 10px;
      font-size: 10px;
    }
  }

  #leftCalendarButton {
    background-color: rgba(85, 74, 74, 0.8);
    position: relative;
    color:#45A29E;
    height: 30px;
    width: 20vw;
    margin-left: 27.5vw;
    margin-Bottom: 20px;
    font-size: 20px;
    border-radius: 10px;
  }
  
  #rightCalendarButton {
    background-color: rgba(85, 74, 74, 0.8);
    position: relative;
    color:#45A29E;
    height: 30px;
    width: 20vw;
    margin-left: 5vw;
    margin-Bottom: 20px;
    font-size: 20px;
    border-radius: 10px;
  }

  #searchNotesContainer {
    height: 500px;
    width: 100vw;
    display: flex;

    #searchBarNotesContainer {
      width: 45vw;

      #searchNotesTitle {
        text-align: center;
        color:#45A29E;
        font-size: 24px;
        margin-top: 25px;
      }

      #searchBarContainer {
        display: flex;
        height: fit-content;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;

        #searchNotesInput {
          height: 35px;
          width: 60%;
          max-width: 300px;
          border-color: #1F2833;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          border-right: none;
          padding-left: 15px;
        }

        /*TODO: change button to magnifying glass on smaller screens*/
        .searchButton {
          background-color: #4b5968;
          color:#45A29E;
          height: 41px;
          width: 20%;
          max-width: 100px;
          border-color: #1F2833;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-left: none;
          margin-bottom: 0;
          overflow: hidden;
        }

        .searchButton:hover {
          background-color: #80a4c9;
        }

        .searchButton:active {
          background-color: #cde2f7;
        }
      }

      /*TODO: change width*/
      #searchParametersContainer {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
        grid-template-rows: minmax();
        row-gap: 30px;
        height: fit-content;
        width: 75%;
        max-width: 350px;
        min-width: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        
        h2 {
          font-size: 15px;
          margin: 0;
          color:#45A29E;
        }

        #enterStartDateInput {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          align-self: start;
        }

        #enterEndDateInput {
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          align-self: start;
        }
        
        #orderDropdown {
          position: relative;
          background-color: #393c46;
          width: 150px;
          max-width: 66.7%;
          place-self: center;
          text-align: center;
          color:#45A29E;
          border: 2px solid black;
          border-radius: 15px;
          cursor: pointer;
        }

        #selectedSortOption {
          font-weight: normal;
        }

        #orderDropdown:hover {
          background-color: #585d6e;
        }

        /*TODO: should be li?*/
        #orderDropdownOptions {
          position: relative;
          display: none;
          height: fit-content;
          width: 100%;
          background-color: #3a3e49;
          text-align: center;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          cursor: pointer;

          .orderDropdownIndividualOption:hover {
            background-color: #585d6e;
          }   
        }

        #lastOrderOption {
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
        }

        #orderDropdown:hover #orderDropdownOptions {
          display: block;
        }
      }

      @media screen and (max-width: 650px) {
        #searchParametersContainer {
          display: block;
          text-align: center;
        }

        #enterStartDateInput {
          width: 66.7%;
          margin-left: 0;
          margin-bottom: 15px;
          margin-left: auto;
          margin-right: auto;
        }

        #enterEndDateInput {
          width: 66.7%;
          margin-left: 0;
          margin-bottom: 15px;
          margin-left: auto;
          margin-right: auto;
        }

        #orderDropdown {
          margin-top: 1px;
          margin-left: auto;
          margin-right: auto;
          overflow: hidden;
        }
      }
    }

    #searchNotesResultsContainer {
      width: 55vw;

      #searchedNotesContainer {
        height: 450px;
        background-color: #3c3f49;
        height: 450px;
        width: 96%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        border-radius: 20px;
        overflow: hidden;
        
        #resultsTitle {
          text-align: center;
          color: #45A29E;
        }

        #notesContainer {
          background-color: #2e303a;
          position: relative;
          width: 94%;
          left: 3%;
          height: 340px;
          overflow: scroll;
          border-radius: 10px;

          

          .note {
            background-color: rgba(70, 57, 57, 0.8)!important;
            position: relative;
            cursor: pointer;
            font-size: 18px;
            width:  92%;
            height: fit-content;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-bottom: 2px;
            margin-left: 2%;
            margin-right: 2%;
            padding-left: 2%;
            padding-right: 2%;
            border-radius: 10px;
            overflow-wrap: break-word;

            .noteTitleFlexContainer {
              width: 100%;
              display: flex;
              height: fit-content;

              .deleteNoteButton {
                margin-top: 5px;
                height: 20px;
                width: 20px;
                font-size: 10px;
                text-align: center;
                border-radius: 25px;
                line-height: 10px;
              }

              h1 {
                text-align: center;
                margin-right: 15px;
                width: calc(100% - 20px);
                margin-top: 5px;
                font-size: 18px;
              }
            }

            p {
              margin: 0;
              text-align: center;
              font-size: 14px;
              padding-bottom: 5px;
            }
          } 
        }   
      }
    }
  }

  @media screen and (max-width: 800px) {
    #searchNotesContainer {
      display:inline-block;

      #searchBarNotesContainer {
        width: 100vw;
        height: 300px;
        padding-top: 20px;
        padding-bottom: 30px;
      }

      #searchNotesResultsContainer {
        width: 100vw;

        #searchedNotesContainer {
        }
      }
    }
  }
}


/* Calendar CSS */
.calendarContainer {
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(7, minmax(120px, 300px));
  grid-gap: .3333vw;
  background-color: #0B0C10;
  max-width: fit-content;
  max-height: fit-content;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 15px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 20px;

  .calendarDays {
    background-color: rgba(255, 255, 255, 0.8);
    color: #45A29E;
    overflow: hidden;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
  }

  .numberedDays {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    overflow: auto;
    height: 150px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;

    .createNoteButton {
      background-color: rgba(85, 74, 74, 0.8);
      color:#45A29E;
      position: absolute;
      overflow: hidden;
      font-size: 8px;
      left: 5px;
      bottom: 3px;
      width: 60px;
      height: 18px;
      border-radius: 10px;
      
      &:hover {
        background-color: rgba(80, 63, 63, 0.8)!important;
        cursor: pointer;
      }
    }

    .noteNumber {
      background-color: #4d505e;
      color: #888da0;
      text-align: center;
      font-size: 16px;
      position: absolute;
      line-height: 15px;
      right: 2px;
      bottom: 3px;
      margin-right: 2px;
      border-radius: 25px;
      width: 15px;
      height: 15px;

      /*TODO: affecting notenumber when hovering over shownotes div*/
      &:hover {
        background-color: rgba(80, 63, 63, 0.8)!important;
        cursor: pointer;
      }

      .showNotes {
        display: block;
        width:30vw;
        position: fixed;
        overflow: hidden;
        top: calc(15vh + 70px);
        left: 20vw;
        height: 350px;
        width: 60vw;
        background-color: #393c46;
        z-index: 2;  
        margin-top : 0px;
        border-radius: 10px;

        .popUpExitButton {
          position: absolute;
          cursor: pointer;
          font-size: 10px;
          top: 5px;
          left: 5px;
          width: 20px;
          height: 20px;
          border-radius: 25px;
        }

        h1 {
        }

        #notesContainer {
          background-color: #2e303a;
          position: relative;
          width: 94%;
          left: 3%;
          height: 280px;
          overflow: scroll;

          .note {
            background-color: rgba(70, 57, 57, 0.8)!important;
            position: relative;
            cursor: pointer;
            font-size: 18px;
            width:  92%;
            height: fit-content;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-bottom: 2px;
            margin-left: 2%;
            margin-right: 2%;
            padding-left: 2%;
            padding-right: 2%;
            border-radius: 10px;
            overflow-wrap: break-word;

            .noteTitleFlexContainer {
              display: flex;
              height: fit-content;
              width: 98%;

              .deleteNoteButton {
                margin-top: 5px;
                height: 20px;
                width: 20px;
                font-size: 10px;
                border-radius: 25px;
                text-align: center;
                line-height: 10px;
              }

              h1 {
                text-align: center;
                margin-right: 15px;
                width: calc(100% - 20px);
                margin-top: 5px;
                font-size: 18px;
              }
            }

            p {
              margin: 0;
              text-align: center;
              font-size: 14px;
              padding-top: 5px;
              padding-bottom: 5px;
            }
          } 
        }
      }
    }
  }

  @media screen and (min-width: 740px) {
    .popUpDiv {
      position: fixed;
      overflow: scroll;
      background-color: #393c46;
      overflow: scroll;
      left: 0;
      right: 0;
      top: 70px;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      height: 400px;
      width: 600px;
      z-index: 2;  
      border-radius: 10px;

      /*TODO: only needs minor resizing*/
      .popUpExitButton {
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        width: 20px;
        height: 20px;
        border-radius: 25px;
        left: 10px;
        top: 10px;
      }

      /*TODO: only needs minor resizing*/
      #labelNoteBox {
        position: absolute;
        left: calc(10% - 5px);
        top: 15px;
      }

      #textAreaDiv {
        #createNoteTextBox {
          position: absolute;
          resize: none;
          top: 13%;
          left: calc(10% - 5px);
          height: 70%;
          width: 80%;
          border-radius: 5px;
        }
        
        /*TODO: overflow turns to checkmark*/
        .popUpAcceptButton {
          position: absolute;
          cursor: pointer;
          overflow: hidden;
          left: 0;
          right: 115px;
          margin-left: auto;
          margin-right: auto;
          bottom: 5%;
          font-size: 10px;
          width: 100px;
          height: 20px;
          border-radius: 25px;
        }

        
        /*TODO: overflow turns to X*/
        .popUpCancelButton {
          position: absolute;
          cursor: pointer;
          overflow: hidden;
          left: 115px;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          bottom: 5%;
          font-size: 10px;
          width: 100px;
          height: 20px;
          border-radius: 25px;
        }
      }
    }
  }

  @media screen and (max-width: 940px) {
    .popUpDiv {
      position: fixed;
      overflow: scroll;
      background-color: #393c46;
      overflow: scroll;
      left: 0;
      right: 0;
      top: 70px;
      bottom: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      height: 350px;
      width: 500px;
      z-index: 2;  
      border-radius: 10px;

      /*TODO: only needs minor resizing*/
      .popUpExitButton {
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        width: 20px;
        height: 20px;
        border-radius: 25px;
        left: 10px;
        top: 10px;
      }

      /*TODO: only needs minor resizing*/
      #labelNoteBox {
        position: absolute;
        left: calc(10% - 5px);
        top: 15px;
      }

      #textAreaDiv {
        #createNoteTextBox {
          position: absolute;
          resize: none;
          top: 13%;
          left: calc(10% - 5px);
          height: 70%;
          width: 80%;
          border-radius: 5px;
        }
        
        /*TODO: overflow turns to checkmark*/
        .popUpAcceptButton {
          position: absolute;
          cursor: pointer;
          overflow: hidden;
          left: 0;
          right: 115px;
          margin-left: auto;
          margin-right: auto;
          bottom: 5%;
          font-size: 10px;
          width: 100px;
          height: 20px;
          border-radius: 25px;
        }

        
        /*TODO: overflow turns to X*/
        .popUpCancelButton {
          position: absolute;
          cursor: pointer;
          overflow: hidden;
          left: 115px;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          bottom: 5%;
          font-size: 10px;
          width: 100px;
          height: 20px;
          border-radius: 25px;
        }
      }  
    }
  }

  @media screen and (max-width: 600px) {
    .popUpDiv {
      position: fixed;
      background-color: #393c46;
      overflow: scroll;
      left: 0;
      right: 0;
      top: 70px;
      bottom: 0;
      padding-right: 30px;
      height: 355px;
      width: 370px;
      z-index: 2;  
      border-radius: 10px;

      /*TODO: only needs minor resizing*/
      .popUpExitButton {
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        width: 20px;
        height: 20px;
        border-radius: 25px;
        left: 10px;
        top: 10px;
      }

      /*TODO: only needs minor resizing*/
      #labelNoteBox {
        position: absolute;
        left: calc(15% - 5px);
        top: 15px;
      }

      #textAreaDiv {
          #createNoteTextBox {
          position: absolute;
          resize: none;
          top: 13%;
          left: calc(10% - 5px);
          height: 70%;
          width: 80%;
          border-radius: 5px;
        }
        
        /*TODO: overflow turns to checkmark*/
        .popUpAcceptButton {
          position: absolute;
          cursor: pointer;
          overflow: hidden;
          left: 0;
          right: 115px;
          margin-left: auto;
          margin-right: auto;
          font-size: 10px;
          width: 100px;
          height: 20px;
          border-radius: 25px;
        }

        
        /*TODO: overflow turns to X*/
        .popUpCancelButton {
          position: absolute;
          cursor: pointer;
          overflow: hidden;
          left: 115px;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          font-size: 10px;
          width: 100px;
          height: 20px;
          border-radius: 25px;
        }
      }
    }   
  }

  /*TODO: OR min height  ...*/
  @media screen and (max-width: 400px), screen and (max-height: 440px) {
    .popUpDiv {
      position: fixed;
      overflow: auto;
      background-color: #393c46;
      left: 0;
      right: 0;
      top: 70px;
      bottom: 0;
      padding-bottom: 15px;
      height: fit-content;
      max-height: 70vh;
      width: 100vw;
      z-index: 2;  
      border-radius: 10px;

      .popUpExitButton {
        position: relative;
        display: inline-block;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        top: 5px;
        left: 5px;
        font-size: 10px;
        width: 20px;
        height: 20px;
        border-radius: 25px;
      }

      #labelNoteBox {
        position: relative;
        left: 10%;
      }

      #textAreaDiv {
        position: relative;
        top: 15px;
        padding-bottom: 20px;
        width: 100vw;
        height: fit-content;

        #createNoteTextBox {
          position: relative;
          top: 10px;
          resize: none;
          left: calc(10%+5px);
          height: 80%;
          min-height: 200px;
          width: 80%;
          border-radius: 5px;
        }
        
        /*TODO: better centering of buttons?*/
        .popUpAcceptButton {
          position: relative;
          top: 20px;
          left: 22.75%;
          bottom: 0;
          cursor: pointer;
          overflow: hidden;
          font-size: 10px;
          width: 25vw;
          height: 20px;
          border-radius: 25px;
        }

        .popUpCancelButton {
          position: relative;
          top: 20px;
          margin-bottom: 20px;
          left: 26.75%;
          cursor: pointer;
          overflow: hidden;
          font-size: 10px;
          width: 25vw;
          height: 20px;
          border-radius: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .calendarContainer {
    max-width: calc(95vw - (10px));
    max-height: calc(100vh - (70px + 60px + 65px));
  }
}

.userInfoContainer {
  height: fit-content;
  width: 100vw;

  #updateUserInfoContainer {
    background-color: #45505e;
    height: 500px;
    width: 90vw;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}


.emailActivationPage { 
  height: 70vh;
  width: 70vw;
  background-color: red;
  margin-left: 15vw;
}