/* Navbar component CSS */
.navbar {
  background-color: #1F2833;
  width: 100vw;
  height: 70px;
}

.navbar #title {
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
}

.navbar .links {
  margin-top: 25px;
  margin-right: 50px;
  float: right;
  display: inline;
}

.navbar a {
  text-decoration: none;
  color: #45A29E;
}

body {
  margin: 0px;
}

/* App Root CSS */

